<div class="wholePage">
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center">

        <form class="col-6  mb-1 mb-lg-1 me-3 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search"
          (keyup.enter)="getForecastByCity($any($event.target).value)">
        </form>

        <div class="text-end mb-1 mb-lg-1 me-lg-3">
          <button type="button" class="btn btn-outline-light me-2"
          (click)="getLocation()">Login</button>
        </div>

      </div>
    </div>
  </header>

  <body>

  </body>

  <div class="container fixed-bottom">
    <footer class="d-flex flex-wrap justify-content-center align-items-center  py-3 my-1 border-top">
      <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-twitter"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-instagram"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-facebook"></i></a></li>
      </ul>
    </footer>
  </div>
</div>

<router-outlet></router-outlet>
